<!-- blog area start -->
<div class="blog-area pt-120 pb-120">
  <div class="container{% if section.settings.enable_full_area %}-fluid{%endif%}">
    <div class="row {% if section.settings.sidebar_handle == 'left_sidebar_handle' %}flex-row-reverse{% endif %}">
      {%- assign blogs_limit = section.settings.blog_limit_handle -%}
      {%- paginate blog.articles by blogs_limit -%} 
      <div class="{% if section.settings.sidebar_handle == 'without_sidebar' %}col-lg-9 ml-auto mr-auto{% else %}col-lg-9{% endif %}">
        <div class="main-blog-wrap">
          {% for article in blog.articles %}
          {% include 'blog-grid-item-2' %}
          {% endfor %}
		  {%- if paginate.pages > 1 -%}
          <div class="pro-pagination-style">
            {% include 'pagination' %}
          </div>
          {%- endif -%}
        </div>
      </div>
      {%- endpaginate -%}
      {%- unless section.settings.sidebar_handle == 'without_sidebar' -%}
      <div class="col-lg-3">
		{% include 'blog-sidebar' %}
      </div>
      {%- endunless -%}
    </div>
  </div>
</div>
<!-- blog area end -->


{% schema %}
  {
    "name": "Blog Page",
    "settings": [
		{
			"type": "header",
            "content": "Blog"
        },
		{
          "type": "header",
          "content": "Container Width "
        },
		{
          "type": "checkbox",
          "id": "enable_full_area",
          "label": "Enable Full Width",
          "default": false
        },
		{
            "type": "range",
            "id": "blog_limit_handle",
            "min": 2,
            "max": 100,
            "step": 1,
            "label": "Post Limit",
            "default": 9,
			"info": "How many products are displayed on each page"
        },
		{
			"type": "header",
            "content": "Blog Column"
        },
		{
          "type": "select",
          "id": "blog_column",
          "label": "Desktop",
		  "options":[
				{
                    "label": "2",
                    "value": "6"
                },
                {
                    "label": "3",
                    "value": "4"
                },
                {
                    "label": "4",
                    "value": "3"
                }
			],
			"default": "4"
      	},
		{
          "type": "select",
          "id": "blog_column_md",
          "label": "Tablet",
		  "options":[
				{
                    "label": "2",
                    "value": "6"
                },
                {
                    "label": "3",
                    "value": "4"
                },
                {
                    "label": "4",
                    "value": "3"
                }
			],
			"default": "6"
      	},
		{
          "type": "select",
          "id": "blog_column_xs",
          "label": "Mobile",
		  "options":[
				{
                    "label": "1",
                    "value": "12"
                },
                {
                    "label": "2",
                    "value": "6"
                }
			],
			"default": "12"
      	},
		{
			"type": "header",
			"content": "Blog Sidebar"
		},
		{
			"type": "radio",
			"id": "sidebar_handle",
			"label": "Sidebar Position -",
			"options": [
				{
					"label": "Left Sidebar",
					"value": "left_sidebar_handle"
				},
				{
					"label": "Right Sidebar",
					"value": "right_sidebar_handle"
				},
				{
					"label": "Without Sidebar",
					"value": "without_sidebar"
				}
			],
			"default": "left_sidebar_handle"
		}
	 ],
	 "blocks":[
		{
          "type": "search",
          "name": "Search",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "widget_title",
              "label": "Title",
              "default": "Search"
            }
          ]
       },
	   {
          "type": "recent_post",
          "name": "Recent Post",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "recent_post_title",
              "label": "Recent Post Title",
              "default": "Recent Post"
			},
            {
              "type": "range",
              "id": "recent_post_limit_handle",
              "min": 2,
              "max": 10,
              "step": 1,
              "label": "Post Limit",
              "default": 3
            }
          ]
       },
	   {
          "type": "archive",
          "name": "Archive",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "archive_title",
              "label": "Archive Title",
              "default": "Archive"
            }
          ]
       },
	   {
          "type": "tag",
          "name": "Tag",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "blog_tags_title",
              "label": "Tags Title",
              "default": "Tags"
			},
            {
              "type": "range",
              "id": "blog_tags_list_limit_handle",
              "min": 5,
              "max": 20,
              "step": 1,
              "label": "Tag Limit",
              "default": 10
            }
          ]
       },
	   {
          "type": "menu",
          "name": "Menu",
          "settings": [
            {
              "type": "text",
              "id": "menu_title",
              "label": "Menu Title",
              "default": "Custom Menu"
            },
			{
              "type": "link_list",
              "id": "menu_handle",
              "label": "Menu"
            }
          ]
       }
	]
  }
{% endschema %}
